.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
 font-family: 'Nunito', sans-serif;
 margin-left: 20px;
}
.profile-list {
  padding-left: 0px;
}
.profile-list-item {
  display:flex;
  align-content: center;
  background-color: white;
  margin: 15px 20px;
  list-style-type: none;
}
.profile-data {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}
.text-blue{
	color: #0288D1;
}
.text-bold {
  font-weight: 700;
}